.footer-image {
   background-image:  url("https://images.pexels.com/photos/952353/pexels-photo-952353.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 80px 100px 100px black;
}
