.details{
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-between;
height: 20%;
width: 80%;
padding-top: 10px;
margin-bottom: 5px;
}

.title-details{
    font-weight: bold;
    color: rgb(87, 86, 86);
}

.details-input{
    border: none;
    border-bottom: 1px solid gray;
    text-align: right;
}

